body{
  background-color: #d7132a;
}
body, html {
  margin: 0px;
  padding: 0px;
}
div.mainContainer{
  display: flex;
  flex-wrap: nowrap;
}
div.smallContainer{
  border: 10px solid black;
  border-style: dashed;
  padding-top: 200px;
}
div > h1{
  position: fixed;
  width: 100vw;
  margin: 0px;
  text-align: left;
  font-size: 10vw;
  background-image: url('https://i.pinimg.com/originals/2a/79/61/2a7961d30dd51b1a8ac86d2dcf76d6ae.jpg');
  background-size: cover;
}

div.imageWithTextFlex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
div.imageWithTextFlex > img{
  border: 25px solid black;
  border-style: dashed;
}
div.imageWithTextFlex > img:hover{
  border: 25px solid black;
  border-style: solid;
}
div.imageWithTextFlex > img:last-of-type{
  width:70vw;
}

div.imageWithTextFlex > p{
  text-align: center;
  font-size: 10vmin;
}

div.imageWithTextFlex > p:first-child{
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-size: 15vmin;
}

div.imageWithTextFlex > p:last-child{
  text-align: center;
  font-weight: bold;
  font-size: 10vmin;
}
